<div class="padd-l-r box-info-page pxy-15">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div class="img-error state-illustration"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="f-18 fw-bold font-montserrat">
        <span>Oops.. Access denied</span>
      </div>
      <span class="t-center"
        >You don’t have permission to access the page. Please contact your
        administrator.</span
      >
    </div>
  </div>
</div>
