<div class="padd-l-r box-info-page pxy-15">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div class="img-maintendevelop img-underdevelop"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="f-18 fw-bold font-montserrat">
        <span>We are under maintenance, please come back later.</span>
      </div>
      <span class="t-center"
        >We are working to get you better experience, we are sorry for the
        inconvenience.</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-button-minus (click)="dialogRef.close()"></app-button-minus>
    </div>
  </div>
</div>
