<div class="padd-l-r box-info-page pxy-15">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div class="img-maintendevelop img-notfound"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="f-18 fw-bold font-montserrat">
        <span>Oops, no data found</span>
      </div>
      <span class="t-center"
        >Use your new password to sign in to Nimbus Building Management</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-button-minus (click)="dialogRef.close()"></app-button-minus>
    </div>
  </div>
</div>
