<div class="padd-l-r box-info-page pxy-15">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div class="img-maintendevelop state-illustration"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="f-18 fw-bold font-montserrat">
        <span>Failed to load data</span>
      </div>
      <span class="t-center"
        >We are unable o retrieve the data you want to load, please try again or
        contact our administrator</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- <app-button-close (click)="dialogRef.close()"></app-button-close> -->
    </div>
  </div>
</div>
