<ng-container *ngIf="!checkSidebar()">
  <div style="width: 100%; height: 100vh">
    <ng-container *ngTemplateOutlet="outlet"></ng-container>
  </div>
</ng-container>
<ng-container *ngIf="checkSidebar() && !isLoading">
  <div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  class="box-content"
  >
  <!-- <app-header
    *ngIf="!pagePrint"
    class="box-header-nav"
    (toggleClick)="sidebar.toggle()"
    (closeSidebar)="hideSidebar($event)"
    (selectBuilding)="selectBuilding($event)"
    [building]="building"
    [nameBuilding]="buildName"
  ></app-header> -->
  <app-header
    *ngIf="!pagePrint"
    class="box-header-nav"
  ></app-header>
    <div
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="10px"
      class="box-content"
      [class.box-container]="!pagePrint"
    >
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="body-content-container">
          <div *ngIf="!pagePrint" class="body-title">
            <div class="text-title" (click)="goBack()">Field Findings</div>
          </div>
          <ng-container
            *ngTemplateOutlet="outlet"
            (activate)="onRouterOutletActivate($event)"
          ></ng-container>
        </div>
      </div>
      
      <div *ngIf="!pagePrint">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #outlet>
  <router-outlet (activate)="onRouterOutletActivate($event)"> </router-outlet>
</ng-template>
