<div class="padd-l-r box-info-page pxy-15">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div class="img-maintendevelop state-illustration"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="f-18 fw-bold font-montserrat">
        <span>Connection Interrupted</span>
      </div>
      <span class="t-center"
        >You have lost your connection. Please check your internet network and
        try again.</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- <app-button-minus (click)="dialogRef.close()"></app-button-minus> -->
    </div>
  </div>
</div>
